.searchbar {
    width: 100%;
    padding: 2em;

    box-sizing: border-box;

    border: solid;
}

.inlinehint {
    user-select: all;
    background-color: organe;
    padding-inline: .5em;
    margin-inline: .2em;
    border: solid 1px orange;
}