.browser-result-grid {
    grid-area: result;
    
    width: 100%;

    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.browser-result-status {
    grid-area: result;

    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.browser-result-status > label {
    font-size: 1.3rem;
    font-weight: bold;
}