@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');

:root {
  --primary: white;
  --secondary: #009ee7b0;
  --secondary-highlight: #83c8e7;
  --warning: #dd5c5c;
  --title: #ffdf2aab;
}

body {
  background-color: var(--primary);
}

.app {
  max-width: 1000px;
  margin: 0 auto;
}

.app-title {
  color: var(--primary);
  background-color: var(--title);
  font-family: 'Montserrat Subrayada';
  text-align: center;
  padding: 10px 20px;
  font-size: 25px;
}