@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

:root {
  --primary: white;
  --primary-opacity: #ffffff8e;
  --secondary: #fd825165;
  --secondary-highlight: #ffc2aafd;
  --secondary-shadow: #da6232a9;
  
  --tertiary: #ff7aad;
  --warning: #f55810;
  --title: #ffdd6d;

  --primary-font: 'Train One', cursive;
  --accent-font: 'Damion', cursive;
  --text-font: 'Quicksand', sans-serif;
}

html {
  min-height: 100%;
}

body {
  background-color: var(--secondary);
  margin: 0;
  font-family: var(--text-font);
  background: linear-gradient(var(--title), var(--tertiary));
}

.app {
  max-width: 1000px;
  margin: 0 auto;
}

.app-title {
  color: var(--primary);
  font-family: var(--primary-font);
  text-align: center;
  padding: 10px 20px;
  font-size: 35px;
  text-shadow: 2px 2px 10px var(--secondary-shadow);
}

.app-title-suffix {
  font-family: var(--accent-font);
  font-size: 30px;
  text-shadow: 2px 2px 10px var(--secondary-shadow);
}