@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');

:root {
  --primary: white;
  --secondary: #009ee7;
}

body {
  background-color: var(--primary);
}

.App {
  max-width: 1000px;
  margin: 0 auto;
}