.browser-filter {
    padding: 0.9rem;
    border: solid var(--primary) 2px;
    user-select: none;
}

.browser-filter > summary {
    display: flex;
    justify-content: space-between;

    color: var(--primary);

    font-size: 1.3rem;
    font-weight: bold;
}

.browser-filter > *:not(summary) {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.browser-filter > summary::after {
    content: "-";
}

.browser-filter[open] > summary::after {
    content: "+";
}

.browser-filter > summary:first-of-type {
    list-style: none;
}

@media screen and (min-width: 1200px) {
    .browser-filter {
        border: none;
    }
    .browser-filter[open] > summary {
        display: none;
    }
}

.browser-filter-element > label {
    font-size: 12pt;
    font-weight: bold;
}

.browser-filter-slider {
    margin-top: .25rem;

    width: 100%;
    accent-color: gray;
}

.browser-filter-slider::-webkit-slider-runnable-track {
  border-radius: 10px;
  box-shadow: 2px 2px 4px gray;
  background: linear-gradient(to right, var(--title), var(--tertiary));
}

.browser-filter-slider::-moz-range-track {
    height: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 4px gray;
    background: linear-gradient(to right, var(--title), var(--tertiary));
    border: none;
    -moz-appearance: none;
}

.browser-filter-slider {
    background: transparent;
}

.browser-filter-slider-value {
    margin-top: .5rem;

    display: flex;

    justify-content: space-between;
    align-items: center;
}

.browser-filter-slider-value > input {
    width: 4ch;
    text-align: center;

    background: none;

    border: solid 1px gray;
    border-radius: 5px;

    padding: .2rem;
}
