.browser {
    position: relative;

    padding-inline: 2rem;
    box-sizing: border-box;
}

.browser-result {
    grid-area: result;
}

.browser-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.browser-filter {
    grid-area: filter;
}

@media screen and (min-width: 1200px) {
    .browser {
        display: grid;
        grid-template-columns: 20vw 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:    "filter result";

        column-gap: 2rem;

        justify-content: center;
        align-content: center;
    }
}
