.browser {
    position: relative;
    width: 100%;
    height: 100%;

    padding-inline: 2rem;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 20vw 1fr 1fr;
    grid-template-rows: 5rem 1fr;
    grid-template-areas:    "header search search"
                            "filter result result";

    column-gap: 2rem;

    justify-content: center;
    align-content: center;
}

.browser-result {
    grid-area: result;
}

.browser-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.browser-search {
    display: flex;
    grid-area: search;

    justify-content: center;
    align-items: center;

    flex-grow: 1;
    width: 100%;
}

.browser-search-bar {
    width: 100%;

    border-radius: 10px;
    padding: 1rem;
    background-color: none;
}

.browser-filter {
    grid-area: filter;
}

.browser-filter-element {
    margin-bottom: 2rem;
}
