nav {
    flex-grow: 1;

    display: flex;
    justify-content: space-around;
}

.nav-item {
    color: var(--primary);

    font-size: 1.1rem;
    cursor: pointer;
    user-select: none;
}

.nav-item:hover {
    text-decoration: underline;
    text-underline-offset: 0.4em;
}

nav::before, nav::after {
    display: block;
    content: " ";

    min-height: 100%;

    border: solid 1px var(--primary);
}

.nav-item.selected {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.3em;
}