.ingredient-delete-button {
    all: unset;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary);
    border: 1px var(--warning) solid;
    width: 15px;
    height: 15px;
    line-height: 0px;
    padding: 2.5px;
    text-align: center;
    border-radius: 15px; 
    cursor: pointer;
    background-color: var(--warning);
}

.ingredient-delete-button:hover {
    background-color: #ff6924;
}

.ingredient-container {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    border: 2px black ;
    border-radius: 16px;
    margin: 5px 0px 5px 0px;
    padding: 5px 5px 5px 10px;
    background-color: var(--secondary-highlight);
    width: 90%;
}

.ingredient-completion {
    color: var(--secondary-shadow);
}

.ingredient-input {
    all: unset;
    background-color: var(--primary-opacity);
    width: 90%;
    flex-grow: 1;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    border-radius: 1em;
    box-shadow: inset 0 0 20px var(--secondary);
    display: flex;
}

.ingredient-input-value {
    all: unset;
    flex-grow: 0;
    height: 25px;
    
}

.ingredient-label {
    flex-grow: 1;
}