.searchform-container {
    background-color: var(--secondary);
    padding: 1em;
}

.searchform-label {
    font-size: 12px;
}

.searchform-input {
    all: unset;
    background-color: var(--primary);
    width: 100%;
    flex-grow: 1;
}

.searchform-submit {
    all: unset;
    display: block;
    background-color: var(--warning);
    color: var(--primary);
    padding: 10px 30px;
    margin: 10px;
    font-family: 'Montserrat Subrayada';
    font-weight: bold;
}

.searchform-input-container {
    display: flex;
    flex-direction: row;
}